@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');
@font-face {
    font-family: 'FonteLogo';
    src: url("../_fonts/bubblegum-sans-regular.otf");
}

/* Corpo - todos os paragrafos e cor da pagina inteira */
Body {
    font-family: Arial, sans-serif;
    background-color: #dddddd;            
}
p {
    text-align: justify;
    text-indent: 50px;
}

a {
    color: orangered;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

div#interface { 
    width: 1200px;
    background-color: #ffffff;
    margin: -20px auto 10px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    padding: 10px 20px 10px 20px;       
}

header#cabecalho {
    border-bottom: 1px #606060 solid;
    height: 142px;
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat -07px 90px;
}

header#cabecalho h1 {
    font-family: 'FontLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
    padding: 0px;
    margin-top: 04px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 15pt;
    color: #888888;
    padding: 0px;
    margin-top: -03px; 
}


header#cabecalho img#icone {
    position: absolute;
    left: 1130px;
    top: 45px;
}


/*  Formatação de imagem com legenda  */
figure.foto-legenda {
    position: relative;
    border: 9px solid white;
    box-shadow: 05px 05px 10px rgba(0, 0, 0, 0.5);    
}

figure.foto-legenda img {
    width: 100%;
    height: 100%;
}

figure.foto-legenda figcaption {
    opacity: 0;
    position: absolute;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.4);
    color: white;
    width: 100%;
    height: 99%;
    padding: 10px; 
    box-sizing: border-box;
    font-size: 13pt;
    transition: opacity 2s;
}

figure.foto-legenda:hover figcaption {
    opacity: 1;
}


/*  Formatação do Menu  */
nav#menu {
    display: block;
}

nav#menu ul {
    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -20px;
    left: 670px;
}

nav#menu li {
    display: inline-table;
    background-color:#dddd;
    padding: 10px;
    margin: 2px;
    transition: background-color 2s;
}

nav#menu li:hover {
    background-color: #606060;
}

nav#menu h1 {
    display: none;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}

nav#menu a:hover {
    color: white;
    text-decoration: underline;
}


/*...  Corpo Esquerdo da pagina ...*/
section#corpo-esquerdo {
    display: block;
    width: 700px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

table#tabelaspec {
    border: 1px solid #606060;
    border-spacing: 0px;
    margin-left: auto;
    margin-right: auto; 
}

table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align: center;
}

table#tabelaspec td.coluna-esquerda {
    color: white;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
    background-color: #606060a1;
}

table#tabelaspec td.co-direita {
    text-align: left;
    background-color: #cececec2;

}

table#tabelaspec caption {
    color: #606060;
    font-size: 15pt;
    font-weight: bolder;
    
}

table#tabelaspec caption span {
    color: #000000;
    font-size: 8pt;
    display: block;
    float: right;
    margin-top: 10px;
}

/*... Artigo ...*/
article#noticia-principal h2 {
    font-size: 13pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom: -5px;
    margin-top: 0px;
}

header#cabecalho-artigo h2{
    font-size: 12pt;
    color: #969595;
    background-color: white;
    margin: 0px;
}

header#cabecalho-artigo h3{
    font-size: 13px;
    color: #606060;
}

header#cabecalho-artigo h3.direita {
    text-align: right;
}

/*... Corpo Direito da pagina ...*/
aside#corpo-direito {
    display: block;
    width: 450px;
    float: right;
    background-color: #dddddd;
    padding: 10px;
    margin-top: 10px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
}

aside#corpo-direito h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-top: 0px;
}

aside#corpo-direito h2{
    color: white;
    font-size: 12pt;
    background-color: #606060;
    padding: 5px;
}

/*... Rodapé da pagina ...*/
footer#rodape {
    clear: both;
    border-top: 1px solid #606060;
}

footer#rodape p {
    text-align: center;
}

footer#rodape p span.redesoci {
    display: block;
    margin-bottom: 10px;   
}

