@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600&display=swap");

* {
    font-family: "Open Sans", sans-serif;
}

body{
    background: salmon;    
}

.container {
    height: 500px;
    width: 360px;
    margin: 100px auto;
    // background-color: rgba(255, 255, 255, 0.30);
    background-color: rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(15px);
    border-radius: 20px; 
    box-shadow: 5px 5px 3px rgb(0, 0, 0);
    // border-color: black;
}    

hr {
    margin: 0;
}

h1 {
    font-size: 40px;  
    text-align: center; 
    margin-bottom: 0px;
    background-color: rgba(211, 211, 211, 0.50);
    backdrop-filter: blur(55px);
    border-radius: 20px 20px 0 0;
}

p{
    text-align: center;
    text-decoration: underline;
    font-weight: bold;
    margin-top: 60px;
    font-size: 18px;
}

#counter{    
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;    
       
        
    button {
        height: 40px;
        width: 40px;
        border-radius: 50%;
        border: 2px solid rgba(0, 0, 0, 0.5);
        background-color: rgba(0, 0, 0, 0.1);
        color: rgba(0, 0, 0, 0.5);
        font-size: 16pt;
        // font-weight: 600;
        text-align: center;
        font-weight: bold;       
    }

    #currentNumber {
        display: flex;
        align-items: center;
        margin: 0 20px;
        font-size: 16pt;
    }    
}

a {
    display: flex;
    text-decoration: none;
    flex-direction: column;
    align-items: center;
    margin: 150px auto;
    text-align: center;
    font-weight: bold;
    color: black;
}